[run]
omit =
    conftest.py
    src/itaxotools/taxi2/library/*
    src/itaxotools/taxi2/taxi2.py
    tests/*

[report]
exclude_lines =
    def __repr__
    raise NotImplementedError
    @abstractmethod
